

.body{
	background-color:rgb(228, 228, 21);
	margin: 0;
	display: grid;
   font-family: Arial;
   font-size: 17px;

}


.footer{
	width: 100%;
	background:rgb(228, 228, 21);
	display: block;
	position: sticky;
}

.inner-footer{
	width: 95%;
	margin: auto;
	padding: 30px 10px;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: center;
}

.footer-items{
	/* width: 25%; */
	padding: 30px 20px;
	box-sizing: border-box;

}


.head{
	margin: 10px 0;
	color:black;
	font-size: 18px;
	font-weight: lighter;
	text-transform: uppercase;
	font-family:orbitron;

}

.border{
	height: 2px;
	width: 50px;
	background: #d6652c;
}

ul{
	list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;
}

ul a {
	text-decoration: none;
	outline: none;
	line-height: 20px;
	color: #192541;
	transition: 0.3s;
	font-family: 'Tahoma', sans-serif;
}


.footer-items ul li{
	margin: 10px 0;
	height: 25px;
}
 
.social a{
	height: 15px;
	width: 15px;
	margin: 40px 5px;
	padding: 3px;
}




.contact{
	padding: 10px 0;
	line-height: 35px;
}

.contact img{
	height: 20px;
}

.contact span{
	position: absolute;
	padding-left: 5px;
	font-family: 'Tahoma', sans-serif;
	color: #192541;
}

@media screen and (max-width: 1085px){
	.footer-items{
		width: 50%;
	}
}

@media screen and (max-width: 600px){
	.footer-items{
		width: 100%;
	}
}



